<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav class="shadow p-4 flex items-center bg-blue-300">
      <h2 class="text-white text-4xl tracking-widest">REBER</h2>
    </nav>
    <header class="flex justify-center">
      <marquee class="text-3xl my-4" direction="rel">comming soon</marquee>
    </header>
    <main class="grid grid-cols-2 md:px-10 px-4">
      <div class="flex items-center">
        <div>
          <h1 class="text-5xl font-bold">
            Connecting Cities, One Ride at a Time - Fast, Reliable Travel Made
            Easy
          </h1>
          <p class="my-4 text-lg text-justify mt-8">
            Introducing CityConnect - your reliable app for seamless intercity
            travel by taxi or bus. Whether for business, visiting family, or
            exploring, CityConnect makes getting there easy, safe, and
            affordable. With quick booking, real-time tracking, and various
            vehicle options, CityConnect offers flexibility and comfort with
            every trip. Say goodbye to long waits and complicated
            schedules—CityConnect simplifies your journey.
          </p>
        </div>
      </div>
      <img src="/bus.png" class="w-full object-cover h-full" alt="" />
    </main>

    <footer class="text-center my-3">Copyright &copy; Reber</footer>
  </body>
</html>
